moviepy==1.0.3
edge-tts==6.1.9
pydub==0.25.1
google-generativeai==0.3.2
groq==0.4.2
google-api-python-client==2.118.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
Pillow==10.2.0
requests==2.31.0
numpy==1.26.4
selenium==4.18.1
undetected-chromedriver==3.5.5
